canvas {
    border:2px solid green;
    margin: 0px auto 0px;
    //background: url(Images/bg.bmp) repeat;
}
#stats {
	display: block;
	margin: -604px auto 0px;
}
#gameName {
    font-family: Courier;
    font-weight: bold;
    font-size: 24px;
    text-align: left;

}